<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Add New Gmail Inbox</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="management-servers-form" action="{echo $app['base_url']}/mta-servers/save.html" class="horizontal-form validate" method="POST" enctype="multipart/form-data">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Server Name</label>
                            <input id="server-name" type="text" name="server-name" class="form-control" data-required="true" data-validation-message="Server Name is Required !" placeholder="Enter Server Name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="server-status">
                                <option value="Activated" selected >Activated</option>
                                <option value="Inactivated">Inactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Gmail Server</label>
                            <select id="server-provider" class="form-control bs-select" data-required="true" data-validation-message="Server Provider is Required !" title="Select a Gmail server ..." name="gmail-server"> 
                                {if(isset($serversProviders) && count($serversProviders)>0)}
                                    {foreach $row in $serversProviders}
                                        <option value="{echo $row['id']}">{echo $row['name']}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="input-group input-xlarge">
                            <div class="form-control uneditable-input input-fixed input-xlarge" data-trigger="fileinput">
                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                <span class="fileinput-filename"> </span>
                            </div>
                            <span class="input-group-addon btn default btn-file">
                                <span class="fileinput-new"> Select cookies </span>
                                <span class="fileinput-exists"> Change </span>
                                <input type="file" name="gmail-cookies"> </span>
                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                            <div class="form-group">
                                <label class="control-label">email</label>
                                <input id="server-name" type="text" name="gmail-email" class="form-control" data-required="true" data-validation-message="email is Required !" placeholder="Enter email">
                            </div>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">password</label>
                            <input id="server-main-ip" type="text" name="client-id" class="form-control" placeholder="Enter Client ID" data-required="true" data-validation-message="Client ID is Required !">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">recovery</label>
                            <input id="server-username" type="text" name="gmail-recovery" class="form-control" placeholder="Enter recovery" data-required="true" data-validation-message="Server SSH User is Required !" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Token</label>
                            <input id="server-username" type="text" name="gmail-token" class="form-control" placeholder="Enter Token" data-required="false" data-validation-message="Server SSH User is Required !" >
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name|main_ip" data-input-ids="server-name|server-ip" data-model="MtaServer" data-row-id="0" data-package="Admin"><i class="fa fa-check"></i> Save</a>
            </div>
        </form>
    </div>
</div>